<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayoola BLOG</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
        
    <ul class="flex w-2/5 space-x-12 justify-center p-2 mx-auto bg-blue-400 rounded-lg mt-3">
        <li class="mx-2"><a href="/">HOME</a></li>
        <li class="mx-2"><a href="/about">ABOUT</a></li>
        <li class="mx-2"><a href="/compose">COMPOSE</a></li>
        <li class="mx-2"><a href="/contact">CONTACT</a></li>
        <li class="mx-2"><a href="/post">POST</a></li>
    </ul>
    <div class="holder">
     
   
    


 